/* 1. Баcolonзовые стили */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	/*font-family: "RobotoRegular", sans-serif;*/
    font-family: 'Exo 2', sans-serif;
	font-size: 18px;
	/*background: url('img/fon4.jpg');*/

}

/* 2. Стили разметки страницы */

.sliderS1 {
	/*background-color: rgb(141, 1, 97);*/
}
.wordLine {
	/*background-color: #8d0161;
    text-align: center;
	padding-top: 0px;
    max-height: 225px;*/
     text-align: center;
    background-image: url(/img/menu-back.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  /*position: absolute;*/


}
.col-md-12 {
    padding: 0px ;
}
.wordLine h1 {
	color: #8d0161;
    font-weight: 100;
    font-size: 24pt;
    font-family: 'Exo 2', sans-serif;
    margin: 0.1em;
    margin-top: -5px;
    width: 65%;
    margin: 0 auto;
   /* text-shadow: 1px 0 1px #fff, -1px 0 1px #fff, 0 1px 1px #fff, 0 -1px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;*/

}
.wordLine h1 span {
    font-weight: 100;
    font-size: 18px;
    font-family: "alegretoOne";
}
.S2 {
	padding: 0;
}
.contentB p span {
  font-weight: bold;
}
.contentB {
	/*min-height:800px;*/
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.88);

	padding-bottom: 25px;
}
.sliderS2 {
   /* background-color: rgb(251, 234, 152);
	overflow: hidden;
	min-height: 100px;
border: 35px solid;
border-image: url('img/kadr.png') 48 8 48 8 round;
border-right-width: 10px;
border-left-width: 10px;*/
    margin: 40px 0;
}
.S2line {
	/*height: 60px;
	background-color: rgba(16, 94, 170, 1);*/
}
.photobox-content, .article2	{
}
.footerB{
	margin-top: -20px;
    text-align: center
}
.footerB p{
   font-size: 13px;
}
.footerB a {
	color: blue;
}

/* 3. Стили таблицы */
.column h4 {

	background: #876b81 ;
    background: -webkit-linear-gradient(top, #876b81  0%,#F6EADD  100%);
    background: linear-gradient(top, #876b81  0%,#F6EADD  100%);
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background: url('img/raster_dot.png');
    }

.column h3 {
    font-weight: bold;
    height: 0px;
    position: relative;
    top: -8px;
    margin-top: 10px;
    margin-bottom: 60px;
    color: rgb(60, 183, 190) !important;

}

.column h3 {
	text-align: center;
    font-size: 50px !important;
    color: rgba(16, 94, 170, 1);
    text-shadow: 4px 0 2px #fff, -4px 0 2px #fff, 0 4px 2px #fff, 0 -4px 2px #fff, 2px 2px 2px #fff, -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff;
}

.column ul {
    text-align: left;
    min-height: 180px;
    font-size: 13px;
    padding: 2px 13px 2px;
    line-height: 16px;
    list-style: none;


}


.column {
	padding: 0;
	max-width: 300px;
	color: black;
	min-height: 520px;


    box-shadow: 4px 4px rgba(0,0,0,0.7);
   	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.smal {
	background: #fbbc52;
    background: -webkit-linear-gradient(top, #fbbc52 0%,#f5e9dd 100%);
    background: linear-gradient(to bottom, #fbbc52 0%,#f5e9dd 100%);
    box-shadow: 4px 4px rgba(0,0,0,0.7);
   	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.medi {
	background: #e43475;
    background: -webkit-linear-gradient(top, #e43475 0%,#f5e9dd 100%);
    background: linear-gradient(to bottom, #e43475 0%,#f5e9dd 100%);
    box-shadow: 4px 4px rgba(0,0,0,0.7);
   	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.large {
	background: #fbbc52;
    background: -webkit-linear-gradient(top, #fbbc52 0%,#f5e9dd 100%);
    background: linear-gradient(to bottom, #fbbc52 0%,#f5e9dd 100%);
    box-shadow: 4px 4px rgba(0,0,0,0.7);
   	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.column:hover {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    box-shadow: 8px 12px rgba(0,0,0,0.7);

    -webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
	z-index: 1;

}
/* 3. END Стили таблицы */
/* 4. START Стили верхний слайдер */
  .sliderS1 .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        max-height: 450px;
    }
 .sliderS1 .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        margin-right: 0;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
 .sliderS1 .swiper-slide img {
    	width: 100%;
    	overflow: hidden;
    	margin-right: 0;
        padding: 0;
		max-height: 450px;
    }
    .sliderS1 {
    	padding: 0;
    	margin: 0;
    }
/* 4. END Стили верхний слайдер */
/* 5. START Стили photobox-content text */
.photobox-content img {
	max-width: 50%;
	position: relative;
	float: right;
    border-radius: 6px;
    display: block;
    box-shadow: 2px 2px 4px grey;
}
.photobox-content p {
	text-align: justify;

}
.photobox-content img {
	margin-left: 15px;

}
.photobox-content img :before {
    content: "";
    position: absolute;
    top: 100%;
    bottom: -30px;
    width: 165px;
    left: -20px;
    background: url(img/liftedshadow_medium.png) no-repeat 0 0;
}
.photobox-content {
	padding-top: 20px;
}

/* 5. END Стили photobox-content text */
/* 6. START Mini slider s3 */
.sliderS3	{
	background-color: transparent;
	top: 70px;
	height: 100%;
	width: 100%;
	position: relative;

}
.sliderS3 img {
	width: 100%;
	height: 100%;
    max-width: 350px;
}
/* 6. END Mini slider s3 */
/* 7. START FOTOPRINTER ARTICLE */
.imgrow img {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.imgrow {
	text-align: center;
}
.contentB p {
	text-align: justify;

	color: rgb(6, 17, 27);
}
.contentB .sliderS3 {

}
.contentB	h3{
	text-align: center;
	font-size: 18pt;
	color: rgb(141, 1, 97);
	font-weight: 700;
	padding: 0px;

}
/* 7. END FOTOPRINTER ARTICLE */
/* 8. START slider s2 */
.sliderS2 body {
        background: transparent;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
.sliderS2 .swiper-container {
        width: 100%;
        height: 100%;
    }
.sliderS2 .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
.sliderS2 img {
	width: 100%;
;
}

.article2-1 {
	min-height: 300px;
	padding-top: 25px;
	padding-bottom: 40px;
}
/*
.sliderS3 img {
	width: 300px;
	height: 300px;
}*/
.sliderS3 {
 text-align: center;
}
.swiper-button-next {
	color: #fff;
}
.btn li {
	font-weight: 200;
	text-align: center;
	padding: 20px 15px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: transparent;
	color: #8d0161;
    border: 3px solid rgba(16, 94, 170, 1);
    -webkit-transition: .2s ease-out;
     -webkit-transition-delay: 0.3s;
     -o-transition: .2s ease-out;
     -o-transition-delay: 0.3s;
     -moz-transition: .2s ease-out;
     -moz-transition-delay: 0.3s;
     transition: .2s ease-out;
     transition-delay: 0.3s;


}
.btn-in{
    text-align: center;
    margin: 1% 0;
    }
.btn {
    padding: 8px 8px;
    border-left: 2px solid #ff0044;
    border-right: 2px solid #8a00f4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 2px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
    background-image: -webkit-linear-gradient(left, #ff0044 0%, #8a00f4 100%), -webkit-linear-gradient(left, #ff0044 0%, #8a00f4 100%);
    background-image: -moz-linear-gradient(left, #ff0044 0%, #8a00f4 100%), -moz-linear-gradient(left, #ff0044 0%, #8a00f4 100%);
    background-image: -o-linear-gradient(left, #ff0044 0%, #8a00f4 100%), -o-linear-gradient(left, #ff0044 0%, #8a00f4 100%);
    background-image: linear-gradient(to right, #ff0044 0%, #8a00f4 100%), linear-gradient(to right, #ff0044 0%, #8a00f4 100%);

}

.btn:hover {
    background: linear-gradient(to right, #ff0044 0%, #8a00f4 100%), linear-gradient(to right, #ff0044 0%, #8a00f4 100%);

}/*Линия - угол-стрелка после строки
.col-md-12.wordLine:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 100vw solid transparent;
	border-right: 30vw solid transparent;
	border-top: 4vw solid #8d0161;
	position: absolute;
	margin: 0 auto;
    right: 0;
    left: 0;
	z-index: 5;
}*/
.swiper-pagination-bullet {
	width: 11px;
	height: 11px;
}
.navigate1 {
  width: 100%;
  z-index: 999;
  background-image: url(/img/menu-back.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
}
.navigate1 p {
	margin: 0;
}
.navigate1 ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    box-shadow: 0px 2px 2px 0 #ababab;
}
.navigation {


}
.navigation li {
	text-transform: uppercase;
	display: inline-block;
	float:left;
	padding: 12px 12px 0 12px;
	transition-delay: 0.1s;
	z-index: 400;

}
.navigation li:hover {
	color: #fff;
  	cursor: pointer;


}
.callback {
	width: 500px;
	height: 600px;
}


/* Стили кролла и навигации */

*, *::after, *::before {
  box-sizing: border-box;
}

.mnu,.fancybox{
        color: #8d0161;
        font-size: 20px;

}
.mnu:hover, .fancybox:hover{
   color: #fff;

}

.mnu {

}
.mnu:hover {

}
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;

  /* Dimensions */
  width: 100%;
  height: .15em;

  /* Reset the apperance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: white;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: red;
}

.flat::-moz-progress-bar {
  background-color: red;
}

.single::-webkit-progress-value {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, red);
}

.single:-moz-progress-bar {
  background-color: transparent;
  background-image: -moz-linear-gradient(left, transparent, red);
}

.multiple:-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	                  -webkit-linear-gradient(left, green, red);
}

background-image: -moz-linear-gradient(-45deg,
  transparent 33%, rgba(0, 0, 0, .1) 33%,
  rgba(0,0, 0, .1) 66%, transparent 66%),
  -moz-linear-gradient(left, green, red);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}
.progress-bar {
  background-color: red;
  width: 50%;
  display: block;
  height: inherit;
}
/* 9.    START Fancy box */
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: #cd008f 3px solid
}
.hidden {
	display: none;
}
.pop_form input[type="text"] {
	border-radius: 4px;
    display: block;
    line-height: 24px;
    margin: 0 auto 12px;
    width: 90%;
    border: #fff 3px solid;
}
.pop_form {
	border-radius: 4px;
	width: 297px;
	height: 286px;

    background: linear-gradient(to right, #ff0044 0%, #8a00f4 100%), linear-gradient(to right, #ff0044 0%, #8a00f4 100%);
}
.pop_form h3 {
	padding-top: 5px;
	margin: 0;
	text-align: center;
	color: #fff;
}
.fancybox-skin {
	padding: 5px !important;
}
.sub-but {
	text-transform: uppercase;
    color: white;
    text-shadow: none;
    background-color: #4d90fe;
    background-image: -moz-linear-gradient(top,#8e3a74,#8e3a74);
    background-image: -ms-linear-gradient(top,#8e3a74,#8e3a74);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#8e3a74),to(#8e3a74));
    background-image: -webkit-linear-gradient(top,#8e3a74,#8e3a74);
    background-image: -o-linear-gradient(top,#8e3a74,#8e3a74);
    background-image: linear-gradient(top,#8e3a74,#8e3a74);
    background-repeat: repeat-x;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    overflow: visible;
    margin-left: 79px;
    padding: 7px 10px;
    margin-top: 8px;
    cursor: pointer;
    outline: 0;
    border: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

}
.sub-but:hover {
	background-image: none;
	-webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
	background-color: #fff;
	color: #8e3a74;
}
.pop_form p {
	color: #fff;
	padding: 0;
	margin: 0;
	margin-left: 16px;
}
.pop_form input {
	padding: 0;
	color: #170707;
    margin-top: 8px;
    border-radius: 5px;
    width: 95%;
    border: #fff 3px solid;
    margin-left: -2px;
}
.blue {
 color: rgb(6, 17, 27);
padding: 0px;
}

.fotozimg {
	width: 50%;
	height: 80%;
	position: relative;
    border-radius: 4px;
    display: block;
    box-shadow: 2px 2px 4px grey;
	max-width: 620px;
    float: right;
	margin: 25px 0 0px 12px;
}
.fotobimg {
	width: 100%;
	margin: 0 auto;
    border-radius: 0px;
    display: block;
    margin-top: 3px;

}

.myinstagram {
    background-image: url(/img/Instagram33.png);
    width: 33px;
    height: 33px;
    display: inline-block;
    margin: -5px 0px;
}
.myvk {
    background-image: url(/img/vk33.png);
    width: 33px;
    height: 33px;
    display: inline-block;
    margin: -5px 0px;
    margin-left: 110px;
}

.instaimg1, .instaimg2 {
	width: 30%;
	height: 30%;
	position: relative;
    border-radius: 6px;
    display: block;
    box-shadow: 2px 2px 4px grey;
	max-width: 300px;
}
.instaimg1 {
	float: right;
	margin: 10px 0 0px 12px;
}

.i1:before {
 	content: "";
    position: absolute;
    top: 100%;
    bottom: -30px;
    width: 165px;
    left: -20px;

    background: url(img/liftedshadow_medium.png) no-repeat 0 0;
}
.fa-4 {
	font-size: 22px;
}
.fa-4:hover {
	  	border-bottom: none !important;
}
.logo {
margin-right: 110px;
  margin-top: -11px ;

   }
.wl {

}
@media (max-width: 992px) {

    .wl {
        display: inline;
    }
}

.photobox-content2 img {

}
.photobox-content2 p {
	text-align: justify;

}
/*
.photobox-content2 img :before {
    content: "";
    position: absolute;
    top: 100%;
    bottom: 30px;
    width: 165px;

}*/
.photobox-content2 {

}
p{
    padding-top: 2px !important;
    padding-bottom: 0px !important;
}
.sobitiya {
    text-align: center;
    font-size:18pt;
    margin-bottom: 40px;

	/*color: rgb(251, 191, 90);*/
    /*text-shadow: #3cb7be 1px 0px, #3cb7be 1px 1px, #3cb7be 0px 1px, #3cb7be -1px 1px, #3cb7be -1px 0px, #3cb7be -1px -1px, #3cb7be 0px -1px, #3cb7be 1px -1px;*/
    /*text-shadow: 2px 2px 0px #ba5c29;*/
	/*color: #ff004b;*/
color: black;
/*text-shadow: 2px 2px 2px #e43576;*/

}

.sobitiya img {
	border-radius: 4px;
    min-width: 160px;
    box-shadow: 2px 2px 4px grey;

}
.ph-con2 img {

    border-radius: 105px;
    min-width: 105%;
    box-shadow: 2px 2px 4px grey;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

.s {
    padding-top: 0px;
}

.column s {
	background: #fbbc52;
    background: -webkit-linear-gradient(top, #fbbc52 0%,#f5e9dd 100%);
    background: linear-gradient(top, #d4d0cd 0%,#f5e9dd 100%);
    box-shadow: 4px 4px rgba(0,0,0,0.7);
   	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

h2 {

    text-align: center;
    font-size: 22pt;
    color: white;
    text-shadow: 1px 2px  3px hsl(330, 100%, 25%), 3px 4px 3px hsla(330, 100%, 15%, 0.5);

}
.blue h4 {

    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: rgb(141, 1, 97);
    }
.tel  {
    font-size: 19px;
    color: #8d0161;
}
.tel img {
    padding: 0px;
    margin-top: -8px;
}

.starul li {
    /*list-style:url('../img/Ikonka_1.svg');*/
   list-style-image: url('../img/Ikonka_2.png');
    text-align: center;
    margin: 10% 0 0 -40px;
    list-style-position: inside;

}

.starul li:before {
display: block;
content: ""
/*background-image: url('../img/Ikonka_1.svg');
background-size: 30px;
background-repeat: no-repeat;*/

}
.blue li {
    list-style-image: url('../img/gal.png');
    text-align: left;

}
.con2 li {
    /*list-style-image: url('../img/gal.png');*/
    text-align: center;
    list-style: none;
	font-size: 22px;
}
.con2 ul {
    margin-bottom: 0px;
}
.con2 p
{
    padding: 0px;
    margin: 0px;
    font-size: 16px
}
.rub{
 display: inline-block;
 width:0.4em;
text-shadow: none;
position: relative;
text-shadow: 4px 0 2px #fff, -4px 0 2px #fff, 0 4px 2px #fff, 0 -4px 2px #fff, 2px 2px 2px #fff, -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff;
}

.rub:before {
  display: block;
  content: "–";
  position: absolute;
  top: 0.1em;
    text-shadow: none;
}

.merop {
font-size: 23pt;
/*color: #e74a84;*/
margin: 40px 0 50px 0;
color: #8d0161;
text-align: center;
/*border-bottom: inset #b33b8d26 6px;
    border-top: inset #b33b8d26 6px;*/


/*text-shadow: 2px 0 2px #fff, -2px 0 2px #fff, 0 2px 2px #fff, 0 -2px 2px #fff, 2px 2px 2px #fff, -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff;*/
}

/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1240px) {}
@media screen and (min-width: 768px) and (max-width: 1024px) {}
/* mobile */
@media screen and (max-width: 768px) {
.navigation {

}
.navigate1 {
  width: 100%;
  z-index: 999;
  background-image: url(img/menu-back.jpg);
  padding: 4px 0 0 0;
  margin: 0;
  height: 155px;
}/*
.navigation li {
	text-transform: uppercase;
	display: inline-block;
	float:left;
	margin-top: 12px;
	margin-left: 22px;
	margin-right: 22px;
	color: #fff;
	transition-delay: 0.1s;
	z-index: 400;
}
.navigation li:hover {
	color: #fff;
  	cursor: pointer;
  	border-bottom: 0px solid #fff;
}*/
.callback {
	width: 500px;
	height: 600px;
}
.merop {
font-size: 22pt;
}
.instaimg1, .instaimg2 {
	width:100%;
}
.sliderS3 img {
    width: 80%;
    height: 80%;
}
}


.klienti {
    text-align: center;
}
.klienti img{
        margin: 20px 0.5%;
}

.swiper-fotob {
    width: 100%;
    max-width: 610px;
}

.fotobud {
    width: 100%;
	margin: 0 auto;
    border-radius: 0px;
    display: block;
    max-width: 700px;
    margin-top: 6px;
}

.con2 {
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}


.videomirror {
    width: 100%;
    background-color: white !important;
}

.conZ {
    text-align: center;
    padding: 0;
}

.fotoz {
    width: 100%;
	display: block;
    max-width: 700px;

}

.conZ2 {
    padding: 0 7px;
}
